.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    149deg,
    rgba(117, 117, 117, 1),
    rgba(35, 35, 35, 1)
  );
  color: white;
}

.header-title {
  font-size: 20px;
}
